@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(15, 17, 35);
}

.container {
    width: 1140px;
    margin: 0 auto;
    color: rgb(239, 227, 210);
    font-family: "Roboto", sans-serif;
}

.block_cards {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.title__text {
    margin-top: 20px;
    line-height: 2;
}


.block_cards {
    margin-top: 25px;
    
}

.card {
    width: 250px;
    border-radius: 10px;
    margin-bottom: 35px;
    margin-right: 35px;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 20px;
}

.card .name {
    font-size: 22px;
    font-weight: 600;
}

.card .post {
    margin-top: 5px;
    font-size: 20px;
}

.card .city {
    opacity: .7;
    font-size: 16px;
    margin-top: 5px;
}