@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(15, 17, 35);
}

.container {
    width: 1140px;
    margin: 0 auto;
    color: rgb(239, 227, 210);
    font-family: "Roboto", sans-serif;
}

.block_cards {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.title__text {
    margin-top: 20px;
    line-height: 2;
}


.block_cards {
    margin-top: 25px;
}

.card {
    width: 250px;
    border-radius: 10px;
    margin-bottom: 35px;
    margin-right: 35px;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 20px;
    transition: transform 2s ease;
}

.card .name {
    font-size: 22px;
    font-weight: 600;
}

.card .post {
    margin-top: 5px;
    font-size: 20px;
}

.card .city {
    opacity: .7;
    font-size: 16px;
    margin-top: 5px;
}

.card img:hover {
    /* transform: scale(1.5); */
    position: relative;
}


.card-about {
    position: absolute;
    inset: 0;
    z-index: 10;
    
    display: flex;
    justify-content: center;
    align-items: center;

    

    opacity: 0;
    pointer-events: none;
    transform: scale(0);
    transition: 
        opacity 0.33s ease-in-out,
        transform 0.33s ease-in-out;

}

.card-about__image {
    width: 300px;
    height: 400px;
}

.card-about__text {
    padding: 60px;
    width: 500px;
    background-color: rgb(52, 50, 50, 0.8);
}

.card-about__author {
}
.ceo {
    display: block;
}

.card:hover .card-about{
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
}

/* Когда мышь над блоком с карточками */
.block_cards:hover .card:not(:hover) {
    filter: blur(5px) brightness(0.5);
    transition: filter 0.3s ease;
}

/* А неактивная карточка не должна реагировать на клики */
.block_cards:hover .card:not(:hover) * {
    pointer-events: none;
}

